			<hr class="sep" />
		</main>
		<footer class="container no-print">
			<div class="u-footer">
				{{ if ne .Kind "home" }}
				<div>
					<a href="#brand">
						<img class="icon-text" src="/img/toup.svg" alt="To Up"/>
						<span>{{ T "toUp" }}</span>
					</a>
				</div>
				{{ end }}
				{{ partial "social.html" . }}
			</div>
			<div class="copyright">

				{{ if .Site.Params.copyright }}
					{{ if .Site.Params.copyrightUrl }}
						<a href="{{ .Site.Params.copyrightUrl }}">{{ .Site.Params.copyright }}</a>
					{{ else }}
						<a href="{{ .Site.BaseURL }}license">{{ .Site.Params.copyright }}</a>
					{{ end }}
				{{ end }}
		
			</div>
		</footer>
		{{ if .Site.Params.HighlightJs }}
		<script>hljs.initHighlightingOnLoad();</script>
		{{ end }}
	</body>
</html>
